.list {
  list-style: none;
}
.advantages {
  padding-top: 40px;
  padding-bottom: 87px;
}
.advantages {
  padding-top: 40px;
  padding-bottom: 87px;
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 64px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.advantages-item {
  display: inline-flex;
  flex-direction: column;
  width: 230px;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 180px;
  }
  @media screen and (min-width: 1200px) {
    width: 288px;
    align-items: center;
  }
}
.backet-png::before {
  content: '';
  width: 33px;
  height: 50px;
  background-size: contain;
  background-image: url(/src/images/backet_advantages.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 36px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.appels-png::before {
  content: '';
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(/src/images/apples_advantages.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 36px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.hart-png::before {
  content: '';
  width: 44px;
  height: 50px;
  background-size: contain;
  background-image: url(/src/images/hart_advantsges.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 36px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}
.advantages-item-title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    color: #d41443;
    margin-bottom: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    color: #d41443;
    margin-bottom: 22px;
  }
}

.advantages-item-discription {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: #000000;
  }
  @media screen and (min-width: 1200px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    color: #000000;
    text-align: center;
  }
}
