.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  position: relative;
  background-image: linear-gradient(to bottom, #ffffff 21%, #fff5f6 21%);
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 45%, #fff5f6 45%);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #ffffff 15%, #fff5f6 15%);
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
}

.contacts {
  position: relative;
  padding: 40px 32px;
  font-size: 12px;
  font-weight: 500;
  width: 280px;
  padding: 40px 32px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    width: 224px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
  }
  &__category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
    width: 80px;
    height: 16px;

    background-color: #f0d1a5;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: 73px;
      height: 28px;
      font-size: 14px;
      line-height: 1.87;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      width: 75.1px;
      height: 28px;
      font-size: 16px;
      line-height: 1.87;
    }
  }
  &__city {
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.85;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.87;
      margin-bottom: 8px;
    }
  }
  &__description {
    line-height: 1.5;
    color: #907e82;
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.64;
      margin-bottom: 64px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.81;
    }
  }
  &__item {
    line-height: 1.83;
    color: #000000;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.85;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.87;
    }
  }
  &__item--color {
    color: #ffa5ba;
  }
  &__tel {
    line-height: 1.5;
    color: #907e82;
  }
  &__mail {
    line-height: 1.5;
    color: #907e82;
  }
  &__list--margin {
    margin-bottom: 8px;
  }
  &__list {
    margin-top: 8px;
    @media screen and (min-width: 768px) {
      margin-top: 12px;
    }
  }
  &__nav {
    margin-top: 48px;
    @media screen and (min-width: 768px) {
      margin-top: 64px;
    }
  }
}

.category--color {
  background-color: #c2e297;
  width: 130px;
  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.contacts__description::after {
  display: block;
  content: '';
  position: absolute;
  left: 32px;
  top: 166px;
  width: 216px;
  height: 0px;
  border: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    top: 235px;
    width: 160px;
  }
  @media screen and (min-width: 1200px) {
    top: 220px;
    width: 288px;
  }
}

.contacts__nav::before {
  display: block;
  content: '';
  position: absolute;
  left: 32px;
  top: 311px;
  width: 216px;
  height: 0px;
  border: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    top: 408px;
    width: 160px;
  }
  @media screen and (min-width: 1200px) {
    top: 416px;
    width: 288px;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
    flex-direction: row;
  }
}
.btn-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 161.45px;
  height: 44px;
  background-color: #d41342;
  border-radius: 22px;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #d41342;
    background-color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.btn-main::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  top: 19px;
  right: 18px;
  background-image: url(../images/contacts_arrow.svg);
}

.btn-second {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161.45px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #d41443;
  }
}

.btn-main::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  top: 19px;
  right: 18px;
  background-image: url(../images/contacts_arrow.svg);
  background-repeat: no-repeat;
}

.btn-second::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  top: 19px;
  right: 18px;
  background-image: url(../images/contacts_arrow-red.svg);
  background-repeat: no-repeat;
}


