.header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  &__wrapper {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      justify-content: space-between;
      padding-top: 8px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 32px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 37px;
    }
  }

  &__logo {
    display: block;

    @media screen and (min-width: 1200px) {
      margin-right: 128px;
    }
  }
  &__img {
    max-width: 199px;
    height: 50px;
  }

  &__button {
    display: flex;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__button-menu {
    display: flex;
    position: relative;
    background-color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
    color: #d41443;
    width: 209px;
    height: 44px;
    border: none;
    border-radius: 22px;
    @media screen and (max-width: 1199px) {
      margin-bottom: 19px;
      margin-left: 20px;
    }

    @media screen and (min-width: 1200px) {
      width: 159px;
      margin-left: auto;
      transition: background-color 250ms linear;
    }
    @media screen and (min-width: 1200px) {
      &:hover,
      &:focus {
        background-color: #ecebeb;
      }
    }
    &--tablet {
      display: flex;
      position: relative;
      background-color: #ffffff;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      align-items: center;
      justify-content: center;
      color: #d41443;
      width: 160px;
      height: 44px;
      border: none;
      border-radius: 22px;
      margin-left: 32px;
      transition: background-color 250ms linear;

      &::after {
        content: '';
        display: inline-block;
        background-image: url(/src/images/vector-header.svg);
        width: 8px;
        height: 10px;
        margin-left: 14px;
      }
      &:hover,
      &:focus {
        background-color: #ecebeb;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      background-image: url(/src/images/vector-header.svg);
      width: 8px;
      height: 10px;
      margin-left: 28px;
      @media screen and (min-width: 1200px) {
        margin-left: 13px;
      }
    }
  }
}
.header__button.--is-open .header__icon--close {
  display: block;
}
// .header__button.--is-open .header__icon--menu {
//   display: none;
// }

.menu-container {
  @media screen and (max-width: 1199px) {
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(200%);
    width: 250px;
    background-color: #e17992;
    padding-top: 20px;
    height: 100vh;
    // height: 502px;
    z-index: 3;
    transition: transform 250ms linear;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-end;
    &.--is-open {
      transform: translateX(0);
      right: 0;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    width: 254px;
    height: 100vh;
    // height: 1020px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 5;
  }
  &__nav {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}
.site-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &__item {
    @media screen and (max-width: 1199px) {
      border: 1px solid #e18298;

    }
    @media screen and (min-width: 1200px) {
      margin-right: 35px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    transition: color 250ms linear;

    @media screen and (max-width: 1199px) {
      display: block;
      padding-left: 20px;
      padding-top: 13px;
      padding-bottom: 11px;
    }

    &--page {
      color: #d41443;
    }
    &:hover,
    &:focus {
      color: #d41443;
    }
  }
}
.header__button-close {
  display: none;
  @media screen and (max-width: 1199px) {
    display: block;
    width: 20px;
    margin-bottom: 24px;
    margin-left: 206px;
  }
}
