<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item backet-png">
        <h3 class="advantages-item-title">721</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item appels-png">
        <h3 class="advantages-item-title">16kg</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item hart-png">
        <h3 class="advantages-item-title">84</h3>
        <p class="advantages-item-discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
