<div class="section">
  <h2 id="contact" class="visually-hidden">Contacts</h2>
  <div class="container contacts-container">
    <div class="contacts">
      <div>
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="list contacts__list--margin">
          <li class="contacts__item">Monday - Friday</li>
          <li class="contacts__item contacts__item--color">
            06:00 AM - 10:00 PM
          </li>
        </ul>
        <ul class="list contacts__list">
          <li class="contacts__item">Saturday - Sunday</li>
          <li class="contacts__item contacts__item--color">
            08:00 AM - 16:00 PM
          </li>
        </ul>

        <ul class="list contacts__nav contacts__nav--margin">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__tel"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts">
      <div>
        <p class="contacts__category category--color">FOOD TRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="list contacts__list--margin">
          <li class="contacts__item">Monday - Friday</li>
          <li class="contacts__item contacts__item--color">
            06:00 AM - 10:00 PM
          </li>
        </ul>
        <ul class="list contacts__list">
          <li class="contacts__item">Saturday - Sunday</li>
          <li class="contacts__item contacts__item--color">
            08:00 AM - 16:00 PM
          </li>
        </ul>

        <ul class="list contacts__nav contacts__nav--margin">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__tel"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts">
      <div>
        <p class="contacts__category">CAFE</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="list contacts__list--margin">
          <li class="contacts__item">Monday - Friday</li>
          <li class="contacts__item contacts__item--color">
            06:00 AM - 10:00 PM
          </li>
        </ul>
        <ul class="list contacts__list">
          <li class="contacts__item">Saturday - Sunday</li>
          <li class="contacts__item contacts__item--color">
            08:00 AM - 16:00 PM
          </li>
        </ul>

        <ul class="list contacts__nav contacts__nav--margin">
          <li class="contacts__item">
            <a href="tel:+61(0)383766284" class="contacts__tel"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="btn-container list">
    <li>
      <button type="button" class="btn-main contacts-menu-open">
        <span class="btn__text">Our Locations</span>
      </button>
    </li>
    <li>
      <button type="button" class="btn-second second-contacts-menu-open">
        <span class="btn__text">Franchise</span>
      </button>
    </li>
  </ul>
</div>
<script src="./js/contacts-modal.js"></script>
