<section class="gallery">
  <div class="container">
    <h2 id="about" class="visually-hidden">Gallery</h2>
    <ul class="gallery-list gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/beries.jpg    1x,
              ./images/gallery/beries-x2.jpg 2x
            "
            src="./images/gallery/beries.jpg"
            alt="icecream on the plate"
          />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="./images/gallery/boy.jpg 1x, ./images/gallery/boy@x2.jpg 2x"
            src="./images/gallery/boy.jpg"
            alt="buy with icecream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="./images/gallery/dog.jpg 1x, ./images/gallery/dog@x2.jpg 2x"
            src="./images/gallery/dog.jpg"
            alt="dog and icecream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/girl.jpg    1x,
              ./images/gallery/girl@x2.jpg 2x
            "
            src="./images/gallery/girl.jpg"
            alt="girl lick icecream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/hand.jpg    1x,
              ./images/gallery/hand@x2.jpg 2x
            "
            src="./images/gallery/hand.jpg"
            alt="icecream in the hand"
          />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="./images/gallery/ice.jpg 1x, ./images/gallery/ice@x2.jpg 2x"
            src="./images/gallery/ice.jpg"
            alt="lot of icecream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/icecream.jpg    1x,
              ./images/gallery/icecream@x2.jpg 2x
            "
            src="./images/gallery/icecream.jpg"
            alt="icecream and berries"
          />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/inthecup.jpg    1x,
              ./images/gallery/inthecup@x2.jpg 2x
            "
            src="./images/gallery/inthecup.jpg"
            alt="icecream in the cup"
          />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/plate.jpg    1x,
              ./images/gallery/plate@x2.jpg 2x
            "
            src="./images/gallery/plate.jpg"
            alt="icecream on the plate"
          />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb">
          <img
            class="img"
            srcset="
              ./images/gallery/street.jpg    1x,
              ./images/gallery/street@x2.jpg 2x
            "
            src="./images/gallery/street.jpg"
            alt="street icecream"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
