<section class="hero">
  <div class="hero__main-wrapper container">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        ice cream made with <span class="hero__span">passion</span>
      </h1>
      <ul class="hero__btn-list">
        <li class="hero__btn-item">
          <a class="hero__btn" href="#about">Products</a>
        </li>
        <li class="hero__btn-item">
          <a class="hero__btn --btn_modificator" href="#how-it"
            >How it&#8217;s made?</a
          >
        </li>
      </ul>
      <div class="hero_thmb">
        <div class="hero-about">
          <picture>
            <source
              srcset="
                /src/images/hero-about-pc.png    1x,
                /src/images/hero-about-pc@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /src/images/hero-about-tablet.png    1x,
                /src/images/hero-about-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="hero-about__img"
              src="/src/images/hero-about-pc@2x.png"
              alt="кувшин"
              width="213"
            />
          </picture>
          <div class="hero-about__wrapper">
            <p class="hero-about__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="hero-about__btn" type="button">
              <svg class="hero-about__svg" width="10" height="12px">
                <use
                  href="/src/images/hero_symbol-defs.svg#icon-hero-arrow"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul class="hero-decor">
      <li class="hero-decor-item">
        <picture>
          <source
            srcset="
              /src/images/hero-ellipse-pc.png    1x,
              /src/images/hero-ellipse-pc@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/hero-ellipse-tablet.png    1x,
              /src/images/hero-ellipse-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="hero-decor__ellipse"
            src="/src/images/hero-ellipse-pc@2x.png"
            alt="эллипс"
            width="534"
          />
        </picture>
      </li>
      <li class="hero-decor-item">
        <picture>
          <source
            srcset="
              /src/images/hero-icecream-pc.png    1x,
              /src/images/hero-icecream-pc@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/hero-icecream-tablet.png    1x,
              /src/images/hero-icecream-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="hero-decor__icecream"
            src="/src/images/hero-icecream-pc@2x.png"
            alt="Мороженое"
            width="236"
          />
        </picture>
      </li>
      <li class="hero-decor-item">
        <picture>
          <source
            srcset="
              /src/images/hero-sooo-tasty-pc.png    1x,
              /src/images/hero-sooo-tasty-pc@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /src/images/hero-sooo-tasty-tablet.png    1x,
              /src/images/hero-sooo-tasty-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="hero-decor__hot-lady"
            src="/src/images/hero-sooo-tasty-pc@2x.png"
            alt="Мороженое"
            width="304"
          />
        </picture>
      </li>
    </ul>

    <ul class="hero-info">
      <li class="hero-info__item">
        <p class="hero-info__number">16</p>
        <p class="hero-info__text">cafes</p>
      </li>
      <li class="hero-info__item">
        <p class="hero-info__number">23</p>
        <p class="hero-info__text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
