<div class="is-hidden data-modal box-modal">
  <div class="modal">
    <button type="button" class="modal__btn-close contacts-menu-close"></button>
    <div>
      <p class="modal__category">CAFE</p>
      <p class="modal__city">New York</p>
      <p class="modal__description">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>

      <ul class="list modal__list--margin">
        <li class="modal__item">Monday - Friday</li>
        <li class="modal__item modal__item--color">06:00 AM - 10:00 PM</li>
      </ul>
      <ul class="list modal__list">
        <li class="modal__item">Saturday - Sunday</li>
        <li class="modal__item modal__item--color">08:00 AM - 16:00 PM</li>
      </ul>

      <ul class="list modal__nav modal__nav--margin">
        <li class="modal__item">
          <a href="tel:+61(0)383766284" class="modal__tel"
            >+61(0) 383 766 284
          </a>
        </li>
        <li class="modal__item">
          <a href="mailto:noreply@envato.com" class="modal__mail"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="is-hidden second-data-modal box-modal">
  <div class="modal">
    <button
      type="button"
      class="modal__btn-close second-contacts-menu-close"
    ></button>
    <div>
      <p class="modal__category modal--color">FOOD TRUCK</p>
      <p class="modal__city">Los Angeles</p>
      <p class="modal__description">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>

      <ul class="list modal__list--margin">
        <li class="modal__item">Monday - Friday</li>
        <li class="modal__item modal__item--color">06:00 AM - 10:00 PM</li>
      </ul>
      <ul class="list modal__list">
        <li class="modal__item">Saturday - Sunday</li>
        <li class="modal__item modal__item--color">08:00 AM - 16:00 PM</li>
      </ul>

      <ul class="list modal__nav modal__nav--margin">
        <li class="modal__item">
          <a href="tel:+61(0)383766284" class="modal__tel"
            >+61(0) 383 766 284
          </a>
        </li>
        <li class="modal__item">
          <a href="mailto:noreply@envato.com" class="modal__mail"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="./js/contacts-modal.js"></script>
