<section class="section__product">
  <div class="container container--products">
    <p class="section__label">100% NATURAL</p>
    <h2 id="product" class="products-title__name">PRODUCTS</h2>

    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__immage products-list__immage--rose">
          <div class="products-list__last-title--icecream">
            <h3 class="products-list__name">ICE CREAM</h3>
            <p lang="en" class="products-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-list__button" data-modal-open>
              <svg class="products-list__svg" width="15" height="15">
                <use href="./images/symbol-grup.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-list__item">
        <div class="products-list__immage products-list__immage--yellow">
          <div class="products-list__last-title--icecoffee">
            <h3 class="products-list__name">ICE COFFEE</h3>
            <p lang="en" class="products-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-list__button" data-modal-open>
              <svg class="products-list__svg" width="15" height="15">
                <use href="./images/symbol-grup.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products-list__item">
        <div class="products-list__immage products-list__immage--green">
          <div class="products-list__last-title--milkshakes">
            <h3 class="products-list__name">MILKSHAKES</h3>
            <p lang="en" class="products-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="products-list__button" data-modal-open>
              <svg class="products-list__svg" width="15" height="15">
                <use href="./images/symbol-grup.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
